@import url(/themes/dark.css);

@font-face {
  font-family: "Bahnschrift";
  src: url('BAHNSCHRIFT.TTF') format('truetype');
}

.smartdashboard-bg {
  padding: 1rem;
  font-family: Bahnschrift;
  animation-duration: 8s;
  animation-name: iAmSoHigh;
  animation-iteration-count: infinite;
  background: url(https://cdn.pixabay.com/photo/2021/11/19/15/21/christmas-6809681_960_720.png);
}

.smartdashboard-box {
  border: 8px red solid;
}

[data-page-name="sirens2"] .smartdashboard-box {
  background-color: rgb(156, 57, 0);
}

[data-page-name="sirens2"] .smartdashboard-box-active {
  background-color: rgb(255, 208, 0);
}

[data-page-name="weather"] {
  background-image: url(weather.jpg);
  background-size: cover;
}

[data-page-name="weather"] .smartdashboard-box {
  background-color: rgba(255, 255, 255, .3);
}

@keyframes iAmSoHigh {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}