.smartdashboard-bg {
  background-color: rgb(29, 29, 29);
  gap: 2rem;
  padding: 2rem;
}

[data-page-name="sirens"] {
  background-color: red;
}

[data-page-name="sirens"] > .smartdashboard-box {
  background-color: rgb(0, 255, 221);
}

.smartdashboard-box {
  background-color: rgb(44, 44, 44);
  box-shadow: 0px 0px 26px -3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 26px -3px rgba(0, 0, 0, 0.5);
}

.smartdashboard-box-active {
  background-color: rgb(255, 166, 0);
}


[data-item-name="yourviloetitemhere"] {
  background-color: blueviolet;
}
