.smartdashboard-bg {
  background-color: rgb(243, 243, 243);
  gap: 2rem;
  padding: 2rem;
}

.smartdashboard-box {
  background-color: rgb(83, 64, 255);
}

.smartdashboard-box-active {
  background-color: rgb(255, 166, 0);
}